@import url("/css/pico.min.css") layer;

body {
    padding: 1em 0.5em 50vh 0.5em;
}

.inline {
    display: inline;
}

.time-entry {
    max-width: 9em;
}

@media only screen and (max-width: 600px) {
    #countdownEl:not([hidden])+.time-entry {
        display: none;
    }
}

.flex {
    display: flex;
    column-gap: 1ch;
}

.reverse {
    display: flex;
    flex-direction: row-reverse;
}

.m-0 {
    margin: 0;
}

.mb-0 {
    margin-bottom: 0;
}

.pt-0 {
    padding-top: 0;
}

.pb-0 {
    padding-bottom: 0;
}

.w-auto {
    width: auto;
}

input.plain:not(:focus) {
    border: none;
    background-color: transparent;
    font-size: inherit;
    font-family: inherit;
    color: inherit;
    padding: 0;
    outline: none;
    appearance: textfield;
}

input.plain:focus+.editable-pencil {
    display: none;
}

.pointer {
    cursor: pointer;
}

.timer-cards {
    grid-template-columns: repeat(auto-fill, 600px);
}